<style>
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    h1 {
        color: darkred;
        text-align: center;
    }
    h2 {
        color: darkgreen;
    }
    h3 {
        text-align: center;
        color: darkblue;
    }
    h4 {
        margin-bottom: -10;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    /* Used in blogs/index.html */
    .marginleft {
        margin-left: 20;
    }
</style>

<h3>
    <a href="{% url 'blogs:index' %}">Blogs</a> - 
    {% if user.is_authenticated %}
        Hello, {{ username }}.
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</h3>

<h2>
    There sure is a lot of interesting stuff going on in these blogs.
</h2>

{% block content %} {% endblock content %}
