<style>
    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    h1 {
        color: darkred;
        text-align: center;
    }
    h2 {
        color: darkgreen;
    }
    h3 {
        color: darkblue;
    }
    h4 {
        margin-bottom: -10;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    .marginleft {
        margin-left: 20;
    }
</style>

<h1>
    <a href="{% url 'blogs:index' %}">Blogs</a>
</h1>

<h2>
    There sure is a lot of interesting stuff going on in these blogs.
</h2>

{% block content %} {% endblock content %}
