{% extends 'blogs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Watch the blogs</h1>

        <p class="lead">Read all the interesting blogs you need on this very page and be sure to add some stuff of your own as well.
        </p>

        <!--
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
        -->
    </div>
{% endblock page_header %}


{% block content %}
<h4>
    <a href="{% url 'blogs:new_post' %}">New post</a>
</h4>

<ul>
    {% for post in blogposts %}
        <li>
            <h3>
                <a href="{% url 'blogs:edit_post' post.id %}">{{ post.title }}</a>
                
            </h3>
            {{ post.text|linebreaks }}
            <p>
            </p>
        </li>
    {% empty %}
        <li><h3>No blogposts found</h3></li>
    {% endfor %}
</ul>

<h4>
    <a href="{% url 'blogs:new_post' %}">New post</a>
</h4>

{% endblock content %}
