{% extends 'blogs/base.html' %}

{% block content %}

<h1>Blogposts</h1>

<a href="{% url 'blogs:new_post' %}">Add a new post</a>

<ul>
    {% for post in blogposts %}
    
    <li>
        <h4>{{ post.title }}</h4>
        {{ post.text|linebreaks }}

        <p class="marginleft">
            <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
        </p>
    </li>

    {% empty %}
    <li>
        No blogposts found
    </li>

    {% endfor %}
</ul>

<a href="{% url 'blogs:new_post' %}">Add a new post</a>

{% endblock content %}
