{% extends 'blogs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Watch the blogs</h1>

        <p class="lead">Read all the interesting blogs you need on this very page and be sure to add some stuff of your own as well.
        </p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}


{% block content %}

<h1>Blogposts</h1>

<p><a href="{% url 'blogs:new_post' %}">Add a new post</a></p>

<ul>
    {% for post in blogposts %}
    
    <li>
        <h4>{{ post.title }}</h4>
        {{ post.text|linebreaks }}

        <p class="marginleft">
            <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
        </p>
    </li>

    {% empty %}
    <li>
        No blogposts found
    </li>

    {% endfor %}
</ul>

<p><a href="{% url 'blogs:new_post' %}">Add a new post</a></p>

{% endblock content %}
